

/********************************
GLOBALS
**********************************/

:root {
    --bg-primary: #c30c12;
    --bg-secondary: #002553;
    --bg-thirty: #f1f1f1;
    --color-red: #c30c12;
    --color-grayscale: #41516a;
    --color-silver: #cfc3af;
    --color-blue-light: #a6d7e3;
    --color-blue: #002553;
    --color-yellow: #feb238;
    box-shadow: none !important;
    outline: 0;
}

a:hover,
a:active,
a:focus {
    outline: none;
    box-shadow: none !important;
}



body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.navbar-menu {
    background: #fff;
    box-shadow: 1px 2px 10px rgb(0 0 0 / 10%);
}

.header {
    background-image: url('../images/header-1.jpg');
    height: 90vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-white {
    background-color: #fff;
    font-family: 'Nexa-Bold';
    font-size: 18px;
    color: #414141;
    padding: 10px 40px;
}

.btn-red {
    background-color: var(--bg-primary);
    text-transform: uppercase;
    font-family: 'Nexa-Bold';
    font-size: 18px;
    padding: 10px 40px;
    border-radius: 30px;
}

.text-subtitle {
    font-family: 'Nexa-Bold';
}

.title {
    font-family: 'Nexa-Black';
}

.text-outline-grayscale {
    color: #E6E6E6;
    -webkit-text-fill-color: #E6E6E6; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #41516a;
}

.text-outline-blue {
    color: #fff;
    -webkit-text-fill-color: #fff; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--color-blue);
}

.text-outline-white {
    color: #fff;
    -webkit-text-fill-color: #001022; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}

.divider {
    width: 50px;
    height: 3px;
    display: block;
    margin: 0 auto;
}

.bg-red {
    background-color: var(--bg-primary);
}

/********************************
HELPERS
**********************************/

/* TEXT COLORS */
.color-grayscale {
    color: var(--color-grayscale);
}

.color-white {
    color: #fff;    
}

.color-blue {
    color: var(--color-blue);
}

.color-yellow {
    color: var(--color-yellow);
}

.color-red {
    color: var(--color-red);
}

.color-silver {
    color: var(--color-silver);
}

.color-blue-light {
    color: var(--color-blue-light);
}

/* SPACES */
.p-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.p-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.p-80 {
    padding: 80px;
}

.ptb-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.pb-80 {
    padding-bottom: 80px;
}

/* FONT SIZES */
.f-size-20 {
    font-size: 20px;
}

.f-size-40 {
    font-size: 40px;
}

.f-size-60 {
    font-size: 60px;
}

.f-size-80 {
    font-size: 80px;
}

.f-size-90 {
    font-size: 90px;
}

.f-size-100 {
    font-size: 100px;
}

.bg-red {
    background-color: var(--bg-primary);
}

/********************************
STYLES
**********************************/

.cta-header {
    padding-top: 40px;
    padding-bottom: 20px;
}

.cta-header .title {
    position: relative;
    top: -20px;
}

.shape-service {
    background-image: url('../images/shape/service.png');
    background-size: cover;
    background-position: center -250px;
    background-repeat: no-repeat;
    min-height: 80vh;
}

.owl-service .item .card {
    background: none;
}

.owl-service .item .card-title {
    font-family: 'Nexa-Bold';
    color: #41516a;
    text-transform: uppercase;
}

.cta-work-description {
    background-image: url('../images/background/bg-work-description.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 80vh;
}

.cta-work-description .title {
    font-family: 'Nexa-Black';
}

.cta-work-description .icon {
    width: 100px;
    height: auto;
    padding-bottom: 20px;
}

.testimonial {
    padding-top: 80px;
    padding-bottom: 80px;
    background: url('../images/shape/testimonial.png')  110% -50px no-repeat; 
}

.owl-testimonials .item .card {
    background: none;
}

.owl-testimonials .item .card .card-img-top {
    width: 150px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: var(--bg-primary) 2px solid;
    border-radius: 50%;
    padding: 5px;
}

.owl-testimonials .card-body {
    padding-left: 350px;
    padding-right: 350px;
}

.sd-header {
    background-image: url('../images/background/bg-header-internal-service-detail.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 40vh;
}

.sd-description {
    padding-top: 80px;
    padding-bottom: 80px;
}

.sd-description .title {
    font-size: 55px;
    line-height: 55px;
}

.sd-about {
    background-color: var(--bg-secondary);
    min-height: 400px;
}

.sd-about img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.sd-about .col-custom {
    padding-left: 120px;    
}

.sd-about .col-custom p {
    padding-right: 200px;
}

.sd-detailing {
    background-color: var(--bg-thirty); 
    min-height: 40vh;
}

.sd-detailing img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.sd-detailing .col-custom {
    padding-left: 80px;    
    padding-right: 120px;
}

.sd-paint-correction {
    background-image: url('../images/background/bg-sd-paint-correction.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 80vh;    
}

.sd-package {
    padding-top: 80px;
    padding-bottom: 80px;
}

.sd-package img,
.sd-gallery img {
    border-radius: 0;
}

.sd-package .card-package .card-body {
    position: relative;
    top: 15%;
}

.sd-package .card-package .logo-package {
    width: 150px;
    height: auto;
}

.sd-package .card-package .card-title {
    font-family: 'Nexa-Black';
    text-align: center;
    padding-top: 10px;
    font-size: 35px;
}

.sd-package .card-package .divider {
    background-color: #fff;
    width: 50px;
    height: 3px;
    display: block;
    margin: 0 auto;
}

.sd-package .card-package .card-link {
    background-color: var(--bg-primary);
    border-radius: 50px;
    font-family: 'Nexa-Black';
    padding: 6px 10px;
    text-decoration: none;
    color: #fff;
}

.sd-package .card-package .card-link-gold:hover {
    color: var(--color-yellow);
    transition: ease-in-out .2s;
}

.sd-package .card-package .card-link-pearl:hover {
    color: var(--color-silver);
    transition: ease-in-out .2s;
}

.sd-package .card-package .card-link-diamond:hover {
    color: var(--color-blue-light);
    transition: ease-in-out .2s;
}

.sd-gallery .card-gallery .card-link-play-button {
    padding: 26px 30px;
    background-color: var(--bg-primary);
    color: #fff;
    border-radius: 50px;
    position: absolute;
    top: 40%;
    left: 43%;
}

.sd-before-after {
    background-image: url('../images/background/before-after.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 80vh;
}

.sd-before-after .title {
    font-size: 8rem;
    line-height: 110px;
}

.footer {
    background-color: var(--bg-secondary);
    padding-top: 60px;
    padding-bottom: 40px;
    color: #fff;
}

.footer .logo-footer {
    padding-bottom: 38px;
    width: 130px;
    height: auto;
}

.footer .title {    
    font-family: 'Nexa-Black';
    text-transform: uppercase;
    border-left: 5px solid var(--color-red);
    font-size: 18px;
}

.footer .list-social-icon,
.footer .list-contact {
    margin-top: 52px;
}

.footer .list-contact li {
    line-height: 40px;
}

.footer .label-mail {
    background-color: var(--bg-primary);        
    padding: 5px 10px;
    border-radius: 20px;
}

.footer a.label-mail {
    color: #fff;
    text-decoration: none;
}

.footer .list-social-icon li a {
    color: #fff;
    font-size:25px;
}

.footer .form-newsletter .input-group {
    width: 20rem;
}

.footer .form-newsletter .input-group input {
    border-radius: 80px !important;    
}

.footer .form-newsletter .btn-outline-secondary {
    border: none;
    border-radius: 80px !important;
    background-color: var(--bg-primary);
    padding: 8px 10px;
    position: relative;
    left: 10px;
}

.footer .form-newsletter .btn-outline-secondary img {
    width: 20px;
    height: auto;
}